body {
    font-size: 15pt;
}

#match-timer {
    font-family: "Lucida Console", monospace;
    display: inline-block;
    padding-top: 2pt;
    padding-bottom: 2pt;
    font-size: 62pt;
    height: 66pt;
}

#match-period {
    /*text-align: center;*/
    font-family: "Calibri", serif;
    font-size: 48pt;
    font-weight: bold;
}

div.half {
    float: left;
    width: 50%;
    /*height: 100%;*/
}

.team-img {
    width: 150px;
    height: 150px;
    /*background: yellow;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.team-score {
    width: 150px;
    height: 150px;
    font-family: "Lucida Console", monospace;
    font-size: 80px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
}

div {
    float: left;
}

input[type='button'], button, select, select option {
    font-size: 20pt;
}

#timer-attributes td input[type='button'] {
    width: 100%;
}

.clockGreen {
    border-left: 10px solid lawngreen;
    padding-left: 5px;
    /*border: 2px solid green;*/
}
.clockGreen::after {
    content: '\0025BA';
    color: green;
    padding-left: 10px;
    font-size: 105%;
}

.clockRed {
    border-left: 10px solid #FF5349;
    padding-left: 5px;
    /*border: 2px solid red;*/
}
.clockRed::after {
    /*content: '\0023F8';*/
    /*content: '\00258D\00258D';*/
    content: '\00275A\00275A';
    color: red;
    padding-left: 10px;
}

#team-home option:hover, #team-away option:hover{
    background-color: inherit;
    color: inherit;
}