div, p, table, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Calibri;
}

html, body {
    background: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

#tourney-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    /*background: gold;*/
    background-color: transparent;
    background-size: auto 90% !important;
    font-size: 100px;
    line-height: 150px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    text-align: center;
    color: white;
}

#match-timer {
    position: absolute;
    left: 25vw;
    top: 5vh;
    width: 50vw;
    /*height: 40vh !important;*/
    line-height: 30vh;
    font-family: "Lucida Console", monospace;
    font-size: 30vh;
    background: none;
    text-align: center;
    color: white;
    background: rgb(30,30,30);
    border: 2px solid rgb(30,30,30);
}

#match-period {
    /*text-align: center;*/
    font-family: "Calibri", serif;
    font-size: 20vh;
    width: 50vw;
    /*height: 20vh;*/
    position: absolute;
    left: 25vw;
    top: 35vh;
    /*background: cyan;*/
    text-align: center;
    color: white;
    font-weight: bold;
}

#match-period::before {
    content: "Period: ";
    font-weight: normal;
}

.bgimage {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /*background: cyan;*/
}

.team-name {
    position: absolute;
    width: 18vw;
    height: 5vh !important;
    font-size: 65%;
    text-align: center;
    font-family: 'Calibri', sans-serif;
    top: 5vh;
    background: black;
    color: white;
    overflow: visible;
    padding: 0;
    margin: 0;
    line-height: 3vh;
}

.team-name td {
    vertical-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
    height: 3vh;
}

div.team-logo, div.team-score {
    width: 18vw;
    /*width: 100%;*/
    line-height: 300px;
    font-family: "Lucida Console", monospace;
    font-size: 87%;
    text-align: center;
    background: black;
    color: black;
    font-weight: bold;
    background-origin: content-box;
    background-size: 75% auto !important;
    padding: 0;
}

div.team-logo {
    position: absolute;
    top: 15vh;
    height: 40vh !important;
}

div.team-score {
    /*visibility: hidden;*/
    position: absolute;
    top: 55vh;
    height: 40vh !important;
    box-sizing: content-box;
}

#team-img-home, #team-score-home, #team-name-home {
    position: absolute;
    /*top: 300px;*/
    left: 3.5vw;
    /*padding: 10px;*/
    /*background: magenta;*/
    /*background-size: contain;*/
}

#team-img-away, #team-score-away, #team-name-away {
    position: absolute;
    right: 3.5vw;
    /*padding: 10px;*/
    /*background: yellow;*/
}

#advertising {
    position: absolute;
    left: 30%;
    top: 55vh;
    width: 40vw;
    height: 40vh !important;
    /*background: gold;*/
}

#advertising table {
    width: 100%;
    height: 100%;
    /*background: blue;*/
    text-align: center;
    color: white;
}

#advertising table tr td:first-of-type {
    width: 26%;
    /*background: pink;*/
}

#advertising img {
    width: 100%;
}

#advertising-space {
    /*background: cyan;*/
    background-size: 78% !important;
}