div, p, table, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Calibri;
}

body {
    background: black;
}

#tourney-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    /*background: gold;*/
    background-color: none;
    background-size: auto 60%;
}

#match-timer {
    position: absolute;
    left: 25%;
    top: 150px;
    width: 50%;
    height: 260px;
    line-height: 100%;
    font-family: "Lucida Console", monospace;
    font-size: 180px;
    background: none;
    text-align: center;
    color: white;
    background: rgb(30,30,30);
}

#match-period {
    /*text-align: center;*/
    font-family: "Calibri", serif;
    font-size: 32pt;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 300px;
    /*background: cyan;*/
    text-align: center;
    color: white;
}

#match-period::before {
    content: "Period ";
}

.bgimage {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /*background: cyan;*/
}

.team-name {
    width: 18%;
    position: absolute;
    text-align: center;
    font-family: 'Calibri', sans-serif;
    top: 150px;
    background: black;
    color: white;
    overflow: visible;
}

.team-name td {
    vertical-align: center;
}

div.team-logo {
    width: 18%;
    /*width: 100%;*/
    height: 50px;
    line-height: 300px;
    font-family: "Lucida Console", monospace;
    font-size: 87%;
    text-align: center;
    background: black;
    color: black;
    font-weight: bold;
}

#team-img-home, #team-score-home, #team-name-home {
    position: absolute;
    left: 3.5%;
    /*background: magenta;*/
    background-size: 90%;
}

#team-img-away, #team-score-away, #team-name-away {
    position: absolute;
    right: 3.5%;
    /*background: yellow;*/
}

#advertising {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 400px;
    /*background: gold;*/
}

#advertising table {
    width: 100%;
    height: 100%;
    /*background: blue;*/
    text-align: center;
    color: white;
}

#advertising table tr td:first-of-type {
    width: 26%;
    /*background: pink;*/
}

#advertising img {
    width: 100%;
}

#advertising-space {
    /*background: cyan;*/
    background-size: 78% !important;
}